@import "design";
@import "font-face";
@import "font-awesome";
@import "material-icons";


.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 25px;
  -webkit-font-smoothing: inherit;
}

.admin{
  padding-top: 72px;

  .admin-sidebar{
    padding: 0px;

    a{
      display:block;
      width: 100%;
      height: 65px;
      padding: 20px;
      color:#ec7532;
      text-decoration: none;
      font-size: 18px;

      &.active, &:hover{
        color:white;
        background-color:#ec7532;
      }
    }
  }

  .content{
    padding-top: 20px;
    padding-left: 20px;

    .title{
      h2, button {
        display: inline-block;
      }

      h2{
        border-bottom: 0px;
      }

      .btn{
        float:right;
        margin-bottom: 5px;
      }
    }
  }

  .admins, .staff, .customers{
    table{
      td{
        .image-holder{
          width: 100px;
          height: 100px;
          overflow:hidden;
          img{
            width : 100%;
          }
        }
      }
    }
  }
}

.admin,.user{
  .movies{
    table{
      td{
        .image-holder{
          width: 200px;
          overflow:hidden;
          img{
            width : 100%;
          }
        }
      }
    }
  }
}

